---
import About from '../components/About.astro';
import Certifications from '../components/Certifications.astro';
import Contact from '../components/Contact.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="container">
    <Welcome />
    <About />
    <Projects />
    <Skills />
    <Certifications />
    <Contact />
  </div>
</Layout>