---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="container">
    <section id="hero" class="section window">
      <div class="window-title">
        <h2>Welcome</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content">
        <h1>Welcome!</h1>
        <h2 class="header-name">Hannah Willoughby</h2>
        <p class="subtitle">Full Stack Software Engineer</p>
        <p class="subtitle">Creative</p>
        <div class="profile-image-container mt-4">
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/poppy.png" alt="Poppy" class="profile-image h-16 w-16 sm:h-24 sm:w-24">
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/buddy_face.png" alt="Big Buddy" class="profile-image h-16 w-16 sm:h-24 sm:w-24">
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/tiger_face.png" alt="Tiger" class="profile-image h-16 w-16 sm:h-24 sm:w-24">
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/ray_face.png" alt="Ray" class="profile-image h-16 w-16 sm:h-24 sm:w-24">
        </div>

      </div>
    </section>

    <section id="about" class="section window">
      <div class="window-title">
        <h2>About</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content about-container">
        <img class="about-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/me.jpeg" alt="Hannah Willoughby" class="profile-image">
        <div>
          <p>
            Hello, world! It's me, Hannah. I'm a full-stack software engineer at OM1, Inc. I live in Fort Mill, SC with my partner Danny and our three cats: Poppy, Big Buddy, and Ray. You'll see a lot of references to Poppy in my projects!
          </p>
        <p>
          Follow along as I grow in my software engineering skills, creativity, and career.
        </p>
        </div>
      </div>
    </section>

    <section id="projects" class="section window">
      <div class="window-title">
        <h2>Projects</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content">
        <div class="project-grid">
          <a href="https://humble-cup-coffee-co.vercel.app/" target="_blank" class="project-item">
            <div class="project-image-container">
              <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.10.12%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
            </div>
            <h3>Humble Cup Coffee Co.</h3>
            <p>A website for a local coffee shop in Fort Mill, SC</p>
          </a>
          <a href="https://hannahshobbyroom.com/" target="_blank" class="project-item">
            <div class="project-image-container">
              <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.25.30%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
            </div>
            <h3>Hannah's Hobby Room</h3>
            <p>My personal blog</p>
          </a>
          <a href="https://whisperingwillowdiary.com/" target="_blank" class="project-item">
            <div class="project-image-container">
              <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.29.18%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
            </div>
            <h3>Whispering Willow Diary</h3>
            <p>A journaling/diary website geared towards people with mood disorders.</p>
          </a>
          <a href="https://hannahwilloughby.dev/" target="_blank" class="project-item">
            <h3>Hannah Dot Dev</h3>
            <p>My personal projects page (this site!)</p>
          </a>
          <a href="https://tcah-v2.vercel.app/" target="_blank" class="project-item">
            <div class="project-image-container">
              <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.31.52%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
            </div>
            <h3>Tega Cay Animal Hospital</h3>
            <p>A website for a local animal hospital in Tega Cay, SC.</p>
          </a>
        </div>
      </div>
    </section>

    <section id="skills" class="section window">
      <div class="window-title">
        <h2>Skills</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content">
        <div class="skills-grid">
          <div class="skill-folder">
            <h3>Programming Languages</h3>
            <div class="skill-items">
              <div class="skill-item">Javascript</div>
              <div class="skill-item">Typescript</div>
              <div class="skill-item">Python</div>
            </div>
          </div>
          <div class="skill-folder">
            <h3>Frameworks</h3>
            <div class="skill-items">
              <div class="skill-item">React</div>
              <div class="skill-item">Next.js</div>
              <div class="skill-item">Astro</div>
              <div class="skill-item">Flask</div>
              <div class="skill-item">Django</div>
              <div class="skill-item">FastAPI</div>
            </div>
          </div>
          <div class="skill-folder">
            <h3>Databases</h3>
            <div class="skill-items">
              <div class="skill-item">PostgreSQL</div>
              <div class="skill-item">Snowflake</div>
              <div class="skill-item">MongoDB</div>
              <div class="skill-item">AWS DynamoDB</div>
            </div>
          </div>
          <div class="skill-folder">
            <h3>AWS</h3>
            <div class="skill-items">
              <div class="skill-item">API Gateway</div>
              <div class="skill-item">Lambda</div>
              <div class="skill-item">ECS</div>
              <div class="skill-item">S3</div>
              <div class="skill-item">CodeBuild</div>
              <div class="skill-item">CloudFormation</div>
              <div class="skill-item">SES</div>
              <div class="skill-item">DMS</div>
              <div class="skill-item">Cloudfront</div>
              <div class="skill-item">Fargate</div>
              <div class="skill-item">ECR</div>
              <div class="skill-item">CodePipeline</div>
              <div class="skill-item">CodeDeploy</div>
              <div class="skill-item">Route 53</div>
              <div class="skill-item">SNS</div>
              <div class="skill-item">SQS</div>
              <div class="skill-item">CloudWatch</div>
            </div>
          </div>
          <div class="skill-folder">
            <h3>DevOps & Infrastructure</h3>
            <div class="skill-items">
              <div class="skill-item">Terraform</div>
              <div class="skill-item">Docker</div>
              <div class="skill-item">Jenkins</div>
              <div class="skill-item">nginx</div>
            </div>
          </div>
          <div class="skill-folder">
            <h3>Packages / Other</h3>
            <div class="skill-items">
              <div class="skill-item">Celery</div>
              <div class="skill-item">Auth0</div>
              <div class="skill-item">Keycloak</div>
              <div class="skill-item">Highcharts</div>
              <div class="skill-item">Redux/Saga</div>
              <div class="skill-item">Clerk</div>
              <div class="skill-item">tRPC</div>
              <div class="skill-item">Tailwind</div>
              <div class="skill-item">Drizzle</div>
              <div class="skill-item">React Query</div>
              <div class="skill-item">SQLAlchemy</div>
              <div class="skill-item">three.js/react-three-fiber</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="certifications" class="section window">
      <div class="window-title">
        <h2>Certifications</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content">
        <div class="cert-grid">
          <div class="cert-item">
            <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/developer_associate_logo.png" alt="AWS Logo" class="cert-logo">
            <div class="cert-info">
              <h3>AWS Certified Developer Associate</h3>
              <p>Amazon Web Services</p>
              <span class="cert-date">2023</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="section window">
      <div class="window-title">
        <h2>Contact</h2>
        <div class="window-controls">
          <button class="control-button">_</button>
          <button class="control-button">□</button>
          <button class="control-button">×</button>
        </div>
      </div>
      <div class="content">
        <div class="contact-links">
          <a href="mailto:hannah@hannahwilloughby.dev" class="action-button">
            Email Me
          </a>
          <a href="https://github.com" target="_blank" class="action-button">
            GitHub
          </a>
          <a href="https://linkedin.com" target="_blank" class="action-button">
            LinkedIn
          </a>
          <a href="https://goodreads.com" target="_blank" class="action-button">
            Goodreads
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>