---
import WindowButtons from "./WindowButtons.astro";


---

<section id="about" class="section window">
  <div class="window-title">
    <h2>About</h2>
    <WindowButtons />
  </div>
  <div class="content about-container">
    <img class="about-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/profile-image.png" alt="Hannah Willoughby" class="profile-image">
    <div>
      <p>
        Hello, world! It's me, Hannah. I'm a software engineer by day and an enthusiastic hobbyist by night. From my home in Fort Mill, SC, I pursue a diverse array of creative and technical interests. I enjoy creating websites from the ground up, and I'm always looking for new challenges to tackle. You may see references to my cats in my projects!
      </p>
      <p class="mt-4">
        Follow along as I grow in my software engineering skills, creativity, and career.
      </p>
    </div>
  </div>
</section>