---
import WindowButtons from "./WindowButtons.astro";


---

<section id="about" class="section window">
  <div class="window-title">
    <h2>About</h2>
    <WindowButtons />
  </div>
  <div class="content about-container">
    <img class="about-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/me.jpeg" alt="Hannah Willoughby" class="profile-image">
    <div>
      <p>
        Hello, world! It's me, Hannah. I'm a full-stack software engineer at OM1, Inc. I live in Fort Mill, SC with my partner Danny and our three cats: Poppy, Big Buddy, and Ray. You'll see a lot of references to Poppy in my projects!
      </p>
    <p>
      Follow along as I grow in my software engineering skills, creativity, and career.
    </p>
    </div>
  </div>
</section>