---
import StarHeader from "./StarHeader.astro";
import WindowButtons from "./WindowButtons.astro";
---

<section id="certifications" class="section window">
  <div class="window-title">
    <h2>Certifications</h2>
    <WindowButtons />
  </div>
  <div class="content">
    <div class="cert-grid">
      <div class="cert-item">
        <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/developer_associate_logo.png" alt="AWS Logo" class="cert-logo">
        <div class="cert-info">
          <StarHeader title="AWS Certified Developer Associate" />
          <p>Amazon Web Services</p>
          <span class="cert-date">2023</span>
        </div>
      </div>
    </div>
  </div>
</section>