---
import WindowButtons from "./WindowButtons.astro";
---

<section id="contact" class="section window">
  <div class="window-title">
    <h2>Contact</h2>
    <WindowButtons />
  </div>
  <div class="content">
    <div class="contact-links">
      <a href="mailto:hannah@hannahwilloughby.dev" class="action-button">
        Email Me
      </a>
      <a href="https://github.com/hwilloug" target="_blank" class="action-button">
        GitHub
      </a>
      <a href="https://www.linkedin.com/in/hannah-willoughby-6a8664160/" target="_blank" class="action-button">
        LinkedIn
      </a>
      <a href="https://www.goodreads.com/user/show/20073680-hannah-willoughby" target="_blank" class="action-button">
        Goodreads
      </a>
    </div>
  </div>
</section>