---
import WindowButtons from "./WindowButtons.astro";


---

<div class="window">
  <div class="window-title">
    <h2>Strawberry Plant</h2>
    <WindowButtons />
  </div>
  <div class="content flex justify-center items-center">
    <img class="w-3/4" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/strawberry-plant.png" alt="Hannah Willoughby" class="profile-image">
  </div>
</div>