---
import WindowButtons from "./WindowButtons.astro";

---

<div class="window">
  <div class="window-title">
    <h2>Ducks in Love</h2>
    <WindowButtons />
  </div>
  <div class="my-8 content flex justify-center items-center">
    <img class="w-3/4" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/love-ducks.png" alt="Ducks pixel art">
  </div>
</div>