---
import WindowButtons from "./WindowButtons.astro";
import StarHeader from "./StarHeader.astro";
---


<section id="projects" class="section window">
  <div class="window-title">
    <h2>Projects</h2>
    <WindowButtons />
  </div>
  <div class="content">
    <div class="project-grid">
      <a href="https://humble-cup-coffee-co.vercel.app/" target="_blank" class="project-item">
        <div class="project-image-container">
          <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.10.12%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
        </div>
        <StarHeader title="Humble Cup Coffee Co." />
        <p>A website for a local coffee shop in Fort Mill, SC</p>
        <p class="text-sm text-right text-gray-500">(in progress)</p>
      </a>
      <a href="https://hannahshobbyroom.com/" target="_blank" class="project-item">
        <div class="project-image-container">
          <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.25.30%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
        </div>
        <StarHeader title="Hannah's Hobby Room" />
        <p>My personal blog</p>
      </a>
      <a href="https://whisperingwillowdiary.com/" target="_blank" class="project-item">
        <div class="project-image-container">
          <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.29.18%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
        </div>
        <StarHeader title="Whispering Willow Diary" />
        <p>A journaling/diary website geared towards people with mood disorders.</p>
      </a>
      <a href="https://hannahwilloughby.dev/" target="_blank" class="project-item">
        <div class="project-image-container">
          <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-25+at+1.34.34%E2%80%AFPM.png" alt="Hannah Dot Dev">
        </div>
        <StarHeader title="Hannah Dot Dev" />
        <p>My personal projects page (this site!)</p>
        <p class="text-sm text-right text-gray-500">(in progress)</p>
      </a>
      <a href="https://tcah-v2.vercel.app/" target="_blank" class="project-item">
        <div class="project-image-container">
          <img class="project-image" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.31.52%E2%80%AFPM.png" alt="Humble Cup Coffee Co. Website">
        </div>
        <StarHeader title="Tega Cay Animal Hospital" />
        <p>A website for a local animal hospital in Tega Cay, SC.</p>
        <p class="text-sm text-right text-gray-500">(in progress)</p>
      </a>
    </div>
  </div>
</section>