---
import StarHeader from "./StarHeader.astro";
import WindowButtons from "./WindowButtons.astro";
---

<section id="skills" class="section window">
  <div class="window-title">
    <h2>Skills</h2>
    <WindowButtons />
  </div>
  <div class="content">
    <div class="skills-grid">
      <div class="skill-folder">
        <StarHeader title="Programming Languages" />
        <div class="skill-items">
          <div class="skill-item">Javascript</div>
          <div class="skill-item">Typescript</div>
          <div class="skill-item">Python</div>
        </div>
      </div>
      <div class="skill-folder">
        <StarHeader title="Frameworks" />
        <div class="skill-items">
          <div class="skill-item">React</div>
          <div class="skill-item">Next.js</div>
          <div class="skill-item">Astro</div>
          <div class="skill-item">Flask</div>
          <div class="skill-item">Django</div>
          <div class="skill-item">FastAPI</div>
        </div>
      </div>
      <div class="skill-folder">
        <StarHeader title="Databases" />
        <div class="skill-items">
          <div class="skill-item">PostgreSQL</div>
          <div class="skill-item">Snowflake</div>
          <div class="skill-item">MongoDB</div>
          <div class="skill-item">AWS DynamoDB</div>
        </div>
      </div>
      <div class="skill-folder">
        <StarHeader title="AWS" />
        <div class="skill-items">
          <div class="skill-item">API Gateway</div>
          <div class="skill-item">Lambda</div>
          <div class="skill-item">ECS</div>
          <div class="skill-item">S3</div>
          <div class="skill-item">CodeBuild</div>
          <div class="skill-item">CloudFormation</div>
          <div class="skill-item">SES</div>
          <div class="skill-item">DMS</div>
          <div class="skill-item">Cloudfront</div>
          <div class="skill-item">Fargate</div>
          <div class="skill-item">ECR</div>
          <div class="skill-item">CodePipeline</div>
          <div class="skill-item">CodeDeploy</div>
          <div class="skill-item">Route 53</div>
          <div class="skill-item">SNS</div>
          <div class="skill-item">SQS</div>
          <div class="skill-item">CloudWatch</div>
        </div>
      </div>
      <div class="skill-folder">
        <StarHeader title="DevOps & Infrastructure" />
        <div class="skill-items">
          <div class="skill-item">Terraform</div>
          <div class="skill-item">Docker</div>
          <div class="skill-item">Jenkins</div>
          <div class="skill-item">nginx</div>
        </div>
      </div>
      <div class="skill-folder">
        <StarHeader title="Packages / Other" />
        <div class="skill-items">
          <div class="skill-item">Celery</div>
          <div class="skill-item">Auth0</div>
          <div class="skill-item">Keycloak</div>
          <div class="skill-item">Highcharts</div>
          <div class="skill-item">Redux/Saga</div>
          <div class="skill-item">Clerk</div>
          <div class="skill-item">tRPC</div>
          <div class="skill-item">Tailwind</div>
          <div class="skill-item">Drizzle</div>
          <div class="skill-item">React Query</div>
          <div class="skill-item">SQLAlchemy</div>
          <div class="skill-item">three.js/react-three-fiber</div>
        </div>
      </div>
    </div>
  </div>
</section>