---
const { title } = Astro.props;
---

<h3 class="flex items-center gap-1 text-lg font-bold">
  <img class="w-4 h-4" src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/star.png" alt="Star" class="skill-icon">
  {title}
</h3>

