---
import WindowButtons from "./WindowButtons.astro";

---
<section id="hero" class="section window relative">
      <div class="window-title">
        <h2>Welcome</h2>
        <WindowButtons />
      </div>
      <div class="content mb-24 sm:mb-36 md:mb-42">
        <div class="flex items-center justify-center gap-2">
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/star.png" alt="star" class="w-12">
          <h1>Welcome!</h1>
          <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/star.png" alt="star" class="w-12">
        </div>
        <h2 class="header-name mt-4">Hannah Willoughby</h2>
        <p class="subtitle">Full Stack Software Engineer</p>
        <p class="subtitle">Creative</p>
      </div>
      <img src="https://hannahdotdev-images.s3.us-east-1.amazonaws.com/welcome-banner.gif" alt="Welcome Banner" class="w-full absolute bottom-0 left-0">
    </section>